/* 设置body的背景图片及其属性 */
body{
  background: url("background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;      
  background-size: cover;
  }
  .heading-container {
    display: flex;
    justify-content: space-around; /* 使标题在容器中均匀分布 */
    align-items: center; /* 使标题在垂直方向上居中对齐 */
    color:white;
}

.heading-container h1,
.heading-container h2,
.heading-container h3,
.heading-container h4 {
    margin: 0 10px; /* 设置左右间距 */
}
p{
  /*text-align: center;*/
    padding-top: 20vh; /* 距离顶部一些空间 */
    font-size: 3em; /* 设置字体大小 */
    font-size: 1.5em; /* 设置字体大小 */
    color:white;
}