/* 设置body的背景图片及其属性 */
body{
  background: url("background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;      
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
  }
/* 标题容器样式 */
.heading-container {
  display: flex; /* 从左向右排列子元素 */
  align-items: center;  /*垂直居中 */
  position: fixed; /* 固定在页面顶部 */
  top: 0; /* 与页面顶部对齐 */
  width: 100%; /* 宽度为100% */
  background-color: #a9e600; /* 背景颜色 */
  padding: 10px; /* 内边距 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  z-index: 1000; /* 确保在其他内容上方 */
}

/* 每个标题的样式 */
.heading {
  margin: 0; /* 去掉标题的默认外边距 */
  color: white; /* 字体颜色 */
  font-size: 1.5em; /* 字体大小 */
  flex: 0 0 auto
  /* 自定义横向位置 */
}

.heading:nth-child(1) {
  margin-left: 0.5vw; /* 自定义第一个标题的左边距 */
  margin-top: 0.5vw;
  width: 20px; /* 设置图片宽度 */
  height: auto; /* 保持宽高比 */
}

.heading:nth-child(2) {
  margin-left: 3vw; /* 自定义第二个标题的左边距 */
  margin-top: 0.5vw;
}

.heading:nth-child(3) {
  margin-left: 65vw; /* 自定义第三个标题的左边距 */
  margin-top: 0.5vw;
}

.heading:nth-child(4) {
  margin-left: 5vw; /* 自定义第四个标题的左边距 */
  margin-top: 0.5vw;
}
.heading:nth-child(5) {
  margin-left: 5vw; /* 自定义第四个标题的左边距 */
  margin-top: 0.5vw;
}
/* 页面主要内容样式 */
.content {
  padding-top: 500px; /* 确保内容不会被固定的标题栏覆盖 */
  padding: 20px; /* 内边距 */
}
p{
  text-align: center;
  padding-top: 25vh; /* 确保内容不会被固定的标题栏覆盖 */
  font-size: 8em; /* 设置字体大小 */
  color: white; /* 字体颜色 */
}
q{
  text-align: center;
  padding-top: 40vh; /* 确保内容不会被固定的标题栏覆盖 */
  font-size: 5em; /* 设置字体大小 */
  color: white; /* 字体颜色 */
}
a{
  color: inherit;
}

